.footer-container {
  width: 100%;
  background-color: #001529;
  padding: 5em 0;
}

.footer-title {
  color: #fff;
}

.footer-text {
  color: #fff;
  text-align: center;
}

.footer-icon {
  font-size: 40px;
  color: #fff;
}
